<configuration>
  <connectionStrings>
    <add name="sonarWatcherConnection" connectionString="Data Source=YourConnection;Initial Catalog=SonarWatcher;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="sonarUserToken" value="yourToken"/>
    <!-- Métricas: é necessário substituir o {0} com a key do projeto -->
    <add key="metricsApiTemplateURL" value="api/timemachine?resource={0}&amp;metrics=ncloc,bugs,vulnerabilities,complexity,duplicated_blocks,violations,code_smells,blocker_violations,critical_violations,major_violations" />
    <add key="threeIssuesMetricsApiTemplateURL" value="api/timemachine?resource={0}&amp;metrics=vulnerabilities,bugs,code_smells" />
    <add key="severityMetricsApiTemplateURL" value="api/timemachine?resource={0}&amp;metrics=blocker_violations,critical_violations,major_violations,minor_violations" />
    <add key="complexityAndLineNumberAndCodeQualityMetricsApiTemplateURL" value="api/timemachine?resource={0}&amp;metrics=ncloc,complexity" />
    <add key="ratingsApiTemplateURL" value="api/measures/component?componentKey={0}&amp;metricKeys=sqale_rating,reliability_rating,security_rating" />
    <!-- Fim:Métricas-->
    <add key="projectsApiURL" value="api/projects/index?format=json" />
    <add key="sonarURL" value="https://yoursonarurl.com"/>
    <add key="chartsDirectoryPath" value="C:\Gráficos"/>
    <add key="companyLogo" value="C:\Git\sonarWatcher\SonarWatcher\Resources\logoCwi.jpg" />
    <add key="sonarLogo" value="C:\Git\sonarWatcher\SonarWatcher\Resources\logoSonar.jpg" />
    <add key="defaultErrorImage" value="C:\Git\sonarWatcher\SonarWatcher\Resources\error.jpg" />
    <add key="defaultReceiver" value="emails@mail.com.br" />
    <add key="emailTemplatePath" value="..\..\Resources\email.html" />
    <add key="noRegistryEmailTemplatePath" value="..\..\Resources\emailNoRegistry.html" />
  </appSettings>
</configuration>