<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="sonarUserToken" value="tokenDoSonar"/>
    <!--necessário formatar a o "campo {0}" com a key do projeto-->
    <add key="metricsApiTemplateURL" value="api/timemachine?resource={0}&amp;metrics=ncloc,bugs,vulnerabilities,complexity,duplicated_blocks,violations,code_smells,blocker_violations,critical_violations,major_violations"/>
    <!--necessário formatar a o "campo {0}" com a key do projeto-->
    <add key="threeIsuesMetricsApiTemplateURL" value="api/timemachine?resource={0}&amp;metrics=bugs,vulnerabilities,code_smells"/>
    <!--necessário formatar a o "campo {0}" com a key do projeto-->
    <add key="severityMetricsApiTemplateURL" value="api/timemachine?resource={0}&amp;metrics=blocker_violations,critical_violations,major_violations,minor_violations"/>
    <!--necessário formatar a o "campo {0}" com a key do projeto-->
    <add key="complexityAndLineNumberMetricsApiTemplateURL" value="api/timemachine?resource={0}&amp;metrics=ncloc,complexity"/>
    <add key="projectsApiURL" value="api/projects/index?format=json"/>
    <add key="sonarURL" value="https://URLdoSONAR"/>
    <add key="chartsDirectoryPath" value="C:\SonarCharts"/>
  </appSettings>
</configuration>
